/* Write your CSS here */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f5f8;
  height: 100vh;
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: #2d3a35;
}
.button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  font-size: 10px;
  font-family: 'Roboto';
  width: 100px;
  height: 20px;
  border-radius: 0px;
  border-width: 0px;
  margin-left: 10px;
}
.count {
  color: #c20a72;
}
.para {
  color: #2d3a35;
  font-size: 20px;
  font-family: 'Roboto';
}
